celery==5.2.2
dj-database-url==0.5.0
dj-static==0.0.6
django-celery-results==1.2.1
django-extensions==3.1.0
Django==2.2.21
flower==0.9.7
gunicorn==20.0.4
psycopg2-binary==2.8.6
pusher==3.0.0
python-decouple==3.4
redis==3.5.3
